<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revealer - Reveal.js multiplexer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/default.css" id="theme">
    </head>
    <body>
        <div class="reveal">
            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <h1>Revealer</h1>
                    <h3>Reveal.js multiplexer</h3>
                </section>
                <section>
                    <h1>Slide 1</h1>
                    <h3>Sample slide 1</h3>
                </section>
                <section>
                    <h1>Slide 2</h1>
                    <h3>Sample slide 2</h3>
                    <p class="fragment grow">Sample fragment 1</p>
                    <p class="fragment shrink">Sample fragment 2</p>
                    <p class="fragment roll-in">Sample fragment 3</p>
                </section>
            </div>
        </div>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <!-- Socket.io client-->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/config.js"></script>
        <script>
            (function(){

              Reveal.initialize({
                history: true
              });
              
              var socket = io.connect(host);

              socket.on('slidechanged', function (data) {
                Reveal.slide(data.indexh, data.indexv, data.indexf);
              });
              
            })();
        </script>
    </body>
</html>