<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Revealer - Reveal.js multiplexer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="components/reveal.js/css/theme/white.css" id="theme">
    </head>
    <body>
        <div class="reveal">
            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section data-background="https://i.postimg.cc/vZXv0zdm/1.png"></section>
                <section style="font-size: 4em;">
                    <h1>Michael Faraday</h1>
                </section>
                <section data-background="https://i.postimg.cc/wTZfhFgY/Captura-de-pantalla-2023-04-22-a-la-s-12-02-07-p-m.png"></section>
                <section>
                    <img src="https://nationalmaglab.org/media/i40jqieb/luigi-galvani.png">
                    <h1>Luigi Galvani (1780)</h1>
                </section>
                <section>
                    <img src="https://i.pinimg.com/564x/55/73/23/557323fbb7161c2b379c3884bd573632.jpg">
                </section>
                <section>
                    <img src="https://i.pinimg.com/564x/0c/4f/ef/0c4fef8a573e3539f77d8c764038aa80.jpg">
                    <h2>"Electricidad animal"</h2>
                </section>
                <section>
                    <img src="https://nationalmaglab.org/media/zwenyacc/alessandro-volta.png">
                    <h1>Alexandro Volta</h1>
                </section>
                <section>
                    <img src="https://i.postimg.cc/1tg3XFxB/ezgif-com-video-to-gif.gif">
                    <h1>Generador electrostático de Volta</h1>
                </section>
                <section>
                    <img src="https://estudiosdelafisica.files.wordpress.com/2015/06/pila.jpg">
                    <h1>Primera batería eléctrica (1800)</h1>
                </section>
                <section data-background="https://i.postimg.cc/kXbFdC3L/Captura-de-pantalla-2023-04-22-a-la-s-12-02-31-p-m.png"></section>
                <section data-background="https://i.postimg.cc/jShMGTyt/Captura-de-pantalla-2023-04-22-a-la-s-12-02-38-p-m.png"></section>
                <section data-background="https://i.postimg.cc/VkzR9hpT/Captura-de-pantalla-2023-04-22-a-la-s-12-02-49-p-m.png"></section>
                <section data-background="https://i.postimg.cc/tTntCGn1/Captura-de-pantalla-2023-04-22-a-la-s-12-02-53-p-m.png"></section>
                <section data-background="https://i.postimg.cc/sXMKQZqg/Captura-de-pantalla-2023-04-22-a-la-s-12-03-05-p-m.png"></section>
                <section data-background="https://i.postimg.cc/zGNdtvbx/Captura-de-pantalla-2023-04-22-a-la-s-12-03-28-p-m.png"></section>
            </div>
        </div>
        <script src="components/reveal.js/js/reveal.min.js"></script>
        <!-- Socket.io client-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>